<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>

    <div class="container">
        <div class="sub-container">
            <center>
                <h1 class="text-2xl font-semibold text-gray-600">
                    My Todo-list
                </h1>
            </center>
            <p>Welcome to the To-Do manager</p>
            <p>New here ? <a href="/signup" class="text-green-600">Sign-Up Now</a></p>
            <p>Already Have an Account ? <a href="/login" class="text-green-600">Sign-In</a></p>
            
        </div>
    </div>
</body>
</html>